header {
  width: 100%;
}
.topmenu {
  background: #222222;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.menubutton {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: white;
  background: #222222;
  font-size: 60px;
  border: 0px;
  padding: 20px;
}
.menubutton:hover {
  background-color: black;
  cursor: pointer;
  text-decoration: none;
}
.firstcontainer {
  width: 1200px;
  margin: auto;
  display: flex;
  background: white;
  position: relative;
}
.header_left {
  width: 45%;
  position: relative;
}
.header_right {
  width: 55%;
  padding-left: 20px;
  padding-top: 40px;
  font-family: "Josefin Sans", sans-serif; */
  line-height: 2.6;
}
.imageholder {
  background-image: url(http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png);
  background-size: auto 600px;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}
.headerfirstrow {
  font-family: "Abril Fatface", cursive;
  font-size: 60px;
  position: absolute;
  top: 220px;
  left: 50px;
}
.headersecondrow {
  font-family: "Abril Fatface", cursive;
  font-size: 130px;
  position: absolute;
  top: 270px;
  left: 50px;
}
.skywalker {
  position: absolute;
  top: 400px;
  left: 50px;
}
.container {
  width: 1200px;
  margin: auto;
  display: flex;
  position: relative;
  margin-top: 40px;
  background: white;
}
.firstsection {
  font-size: 30px;
  letter-spacing: -1px;
}
li {
  list-style-type: square;
}
.left {
  width: 45%;
  text-align: left;
  position: relative;
}
.right {
  width: 55%;
  text-align: left;
  padding-left: 20px;
  padding-top: 50px;
}
.notable_upper {
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
}
.notable_lower {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 40px;
}
.classic {
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 20px;
  font-size: 40px;
}
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
}
.sub {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 20px;
  margin-top: -20px;
  font-size: 40px;
}
.firstbox_2row {
  width: 700px;
  margin: auto;
  background: #444444;
  color: white;
  font-family: "Abril Fatface", cursive;
  font-size: 41px;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}
.doublecomma {
  font-size: 200px;
  position: absolute;
  top: -15px;
  left: 0px;
  transform: rotate(180deg);
}
.firstbox {
  background: #444444;
  color: white;
  font-family: "Abril Fatface", cursive;
  font-size: 80px;
  text-align: left;
  padding-top: 65px;
  padding-bottom: 40px;
  padding-left:50px; 
  padding-right: 0px; 
/*   position: absolute; */
}
a {
  text-decoration: none;
}